@use '@/styles/utils/rem-calc' as *;
@use '@/styles/mixins/breakpoints' as *;
@use '@/styles/settings/variables' as *;

.headingButton {
  padding-inline: rem-calc(8);
  width: rem-calc(120);
  height: rem-calc(32);
  border-radius: rem-calc(12);
  font-size: rem-calc(14);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: rem-calc(1) solid $text-disabled;
  color: $text-placeholder;
  background: transparent;
  cursor: pointer;

  &:hover {
    border-color: $text-placeholder;
  }

  &:active {
    border-color: $text-secondary;
    color: $text-secondary;
  }

  .icon {
    font-size: rem-calc(16);
  }

  .menuPaper {
    width: rem-calc(120);
  }
}
