@use '@/styles/utils/rem-calc' as *;
@use '@/styles/mixins/breakpoints' as *;
@use '@/styles/settings/variables' as *;

.toolbarContainer {
  gap: rem-calc(8);
  padding: rem-calc(10 12);
  background-color: transparent;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  border-bottom: rem-calc(1) solid $gray-blue-200;

  .divider {
    height: rem-calc(20);
    width: rem-calc(1);
    margin: auto 0;
    background-color: $gray-blue-200;
  }
}
